.booking{
    padding-top: 10rem;
    height: 100vh;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3rem auto;
    width: 100%;
    padding: .3rem;
    gap: .5rem;
    /* background: rgb(30, 57, 89); */
    border-radius: .3rem;
    position: relative;
    box-shadow: 0 0 10px;
}

.search .check-city {
    background: white;
    padding: .7rem;
    position: relative;
    border-radius: .3rem;
    color: rgb(3, 98, 207);
    height: 3rem;
}

.search .check-city:hover{
    box-shadow: 0 0 2px;
    transition: .1s;
}


.search .check-date{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 20%;
    border-radius: .3rem;
    font-size: .8rem;
    user-select: none;
    position: relative;
    box-sizing: border-box;
    color: rgb(37, 111, 196);
    padding: .7rem;
    height: 3rem;
}

.search .check-date input[type = 'date']::-webkit-calendar-picker-indicator{
    opacity: 1;
    background-color: rgb(93, 161, 239);
    border-radius: 50%;
    cursor: pointer;
    padding: .3rem;
}

.search .check-date:hover{
    box-shadow: 0 0 2px;
    transition: .1s;
}

.search .check-person{
    position: relative;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 30rem;
    border-radius: .3rem;
    cursor: pointer;
    user-select: none;
    color: rgb(37, 111, 196);
    height: 3rem;
}

.search .check-person:hover{
    box-shadow: 0 0 2px;
    transition: .1s;
}

.search .check-person .title {
    font-weight: bold;
    text-align: center;
}

.search .check-person .circle{
    background-color: gray;
    display: inline-block;
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
}

.search .check-person .controlCheckPerson{
    display: none;
    position: absolute;
    top: 100%;
    border: 1px solid black;
}

.search .check-person .controlCheckPerson.activeCheckPerson{
    display: inherit;
}


.search .check-person .controlCheckPerson.activeCheckPerson .left{
  width: 22.59rem;
  padding: 1rem;  
  background-color: white;
  position: relative;
}

.search .check-person .controlCheckPerson.activeCheckPerson .childage-container{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 101%;
    left: 0;
}

.search .btn{
    z-index: 2;
    color: white;
    border-color: white;
}
.search .btn span{
    background-color: white;
}

.search .btn:hover{
    color: rgb(37, 111, 196);
}




.tours {
    display: flex;
    justify-content: center;
    box-shadow: 0 0 3px;
    /* background: rgb(30, 57, 89); */
}

th {
    color: rgb(37, 111, 196);
    padding: 1rem .5rem;
    border: 3px solid rgb(52, 90, 133);
}

tr, td{
    border: 3px solid rgb(30, 57, 89);
    padding: .2rem;
    text-align: center;
    color: rgb(37, 111, 196);
    box-shadow: 0 0 2px;
    background-color: rgb(255, 255, 255);
    font-weight: 500;
}

.tours .tours_body .btn{
    font-size: .8rem;
    padding: .3rem .7rem;
    border-radius: 1rem;
    z-index: 2;
    color: rgb(37, 111, 196);
    border-color: rgb(37, 111, 196);
    font-weight: bold;
}

.tours .tours_body .btn span{
    background-color: rgb(37, 111, 196);
}

.tours .tours_body .btn:hover{
    color: white;
}

@media (max-width: 1150px){
    .search .check-date{
        font-size: .6rem;
    }
}