.booking{
    padding-top: 10rem;
    height: 100vh;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3rem auto;
    width: 100%;
    padding: .3rem;
    gap: .5rem;
    /* background: rgb(30, 57, 89); */
    border-radius: .3rem;
    position: relative;
    box-shadow: 0 0 10px;
}

.search .check-city {
    background: white;
    padding: .7rem;
    position: relative;
    border-radius: .3rem;
    color: rgb(3, 98, 207);
    height: 3rem;
}

.search .check-city:hover{
    box-shadow: 0 0 2px;
    transition: .1s;
}


.search .check-date{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 20%;
    border-radius: .3rem;
    font-size: .8rem;
    user-select: none;
    position: relative;
    box-sizing: border-box;
    color: rgb(37, 111, 196);
    padding: .7rem;
    height: 3rem;
}

.search .check-date input[type = 'date']::-webkit-calendar-picker-indicator{
    opacity: 1;
    background-color: rgb(93, 161, 239);
    border-radius: 50%;
    cursor: pointer;
    padding: .3rem;
}

.search .check-date:hover{
    box-shadow: 0 0 2px;
    transition: .1s;
}

.search .check-person{
    position: relative;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 30%;
    border-radius: .3rem;
    cursor: pointer;
    user-select: none;
    color: rgb(37, 111, 196);
    height: 3rem;
}

.search .check-person:hover{
    box-shadow: 0 0 2px;
    transition: .1s;
}

.search .check-person .title {
    font-weight: bold;
    text-align: center;
}

.search .check-person .circle{
    background-color: rgb(37, 111, 196);
    display: inline-block;
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
}

.search .check-person .controlCheckPerson{
    display: none;
    position: absolute;
    top: 105%;
}

.search .check-person .controlCheckPerson.activeCheckPerson{
    display: initial;
}

.search .check-person .controlCheckPerson.activeCheckPerson .dropDown{
    width: 19rem;
    padding: 1rem;  
    background-color: white;
    position: relative;
    border: 1px solid black;
    border-radius: .5rem;
    max-height: 300px;
}

.search .check-person .controlCheckPerson.activeCheckPerson .dropDown .childage-container{
    scrollbar-gutter: stable;
    margin-top: .5rem;
    width: 100%;
    flex-wrap: wrap;
    overflow: auto;
    max-height: 80px;
}


.search .btn{
    z-index: 2;
    color: white;
    border-color: white;
}
.search .btn span{
    background-color: white;
}

.search .btn:hover{
    color: rgb(37, 111, 196);
}




.tours {
    display: flex;
    justify-content: center;
    box-shadow: 0 0 3px;
}

th {
    color: rgb(37, 111, 196);
    padding: 1rem .5rem;
    border: 3px solid rgb(52, 90, 133);
}

tr, td{
    border: 3px solid rgb(30, 57, 89);
    padding: .2rem;
    text-align: center;
    color: rgb(37, 111, 196);
    box-shadow: 0 0 2px;
    background-color: rgb(255, 255, 255);
    font-weight: 500;
}

.tours .tours_body .btn{
    font-size: .8rem;
    padding: .3rem .7rem;
    border-radius: 1rem;
    z-index: 2;
    color: rgb(37, 111, 196);
    border-color: rgb(37, 111, 196);
    font-weight: bold;
}

.tours .tours_body .btn span{
    background-color: rgb(37, 111, 196);
}

.tours .tours_body .btn:hover{
    color: white;
}

@media (max-width: 1150px){
    .search .check-person .controlCheckPerson.activeCheckPerson .dropDown .childage-container .ChildeAge{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media (max-width: 1150px){
    .search .check-date{
        font-size: .7rem;
    }
}

@media (max-width: 1040px){
    .search .check-city{
        width: 90%;
    }

    .search .check-date{
        width: 30%;
    }

    .search .check-person .title{
        font-size: .9rem;
    }

    .search .check-person .controlCheckPerson.activeCheckPerson .dropDown{
        width: 18rem;
    }
}

@media (max-width: 950px) {
    .search .check-person .title{
        font-size: .7rem;
    }
    .search .check-person .controlCheckPerson.activeCheckPerson .dropDown{
        width: 15rem;
    }
    .tours{
        font-size: .9rem;
    }
    .search .btn{
        font-size: .9rem;
    }
}

@media (max-width: 730px){

    .search .check-date{
        font-size: .55rem;
        width: 44%;
    }
    .search .check-person{
        width: 44%;
    }
    .search .check-person .title{
        font-size: .6rem;
    }
    .search .check-person .controlCheckPerson.activeCheckPerson .dropDown{
        width: 13rem;
        z-index: 10;
    }
    .tours{
        font-size: .7rem;
    }
    .search .btn{
        font-size: .8rem;
    }
    .tours .tours_body .btn{
        font-size: .6rem;
    }
}

@media (max-width: 630px){
    .search .check-date{
        width: 44%;
    }
    .search .check-person{
        width: 44%;
    }
    .search .btn{
        font-size: .7rem;
    }
}

@media (max-width: 540px){
    .tours{
        font-size: .5rem;
    }
}