.childeAge{
    padding: .5rem;
    font-weight: 500;
    background-color: rgb(93, 161, 239);
    color: white;
    font-size: .63rem;
    border-radius: .3rem;
    margin-bottom: .3rem;
    max-height: 100px;
    overflow: auto;
    
}

.disabled{
    color: white;
}


@media (max-width: 1200px){
    .childeAge{
        width: 100%;
        font-size: .9rem;
    }
}

@media (max-width: 950px){
    .childeAge{
        font-size: .59rem;
        padding: .4rem;
    }
}

@media (max-width: 730px){
    .childeAge{
        font-size: .5rem;
        padding: .3rem;
    }
}