.Header{
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: rgba(191, 236, 251, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: white;
}

.Header #menu-bar{
    font-size: 2rem;
    color: white;
    cursor: pointer;
    display: none;
    transition: .2s linear;
}

.Header #menu-bar-color{
    font-size: 2rem;
    color: rgb(30, 57, 89);
    cursor: pointer;
    display: none;
    transition: .2s linear;
}

.Header #menu-bar:hover{
    color: rgb(37, 111, 196);
    transition: .2s linear;
}

.Header.bg-color{
    background-color: white;
    color: rgb(30, 57, 89);
}

.Header.bg-color .Link .span{
    position: absolute;
    top: 105%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(37, 111, 196);
    z-index: -1;
}
.Header.bg-color .Link:hover .span{
    width: 100%;
    transition: .5s;
}

.Header .left{
    display: flex;
    align-items: center;
    gap: 2rem;
} 

.Header .left .logo{
    width: 2.5rem;
}

.Header .left .logo img{
    width: 100%;
    height: 100%;
}

.Header .left .navbar{
    display: flex;
    gap: 1.5rem;
    font-size: 1rem;
    font-weight: bold;   
    padding: .5rem;
}

.Header .left .navbar .Link{
    position: relative;
    transition: .2s;
}

.Header .left .navbar .Link:hover{
    cursor: pointer;
    transition: .2s;
    color: rgb(37, 111, 196);
}

.Header .right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.Header .right a, i{
    font-weight: bold;
    cursor: pointer;
    transition: .2s;

}

.Header .right span{
    font-weight: 700;
}

.Header .right a:hover{
    color: rgb(37, 111, 196);
    transition: .2s;
}

.Header .right i:hover{
    color: rgb(37, 111, 196);
    transition: .2s;
}

.SelectLanguage {
    display: flex;
    align-items: center;
    background: var(--white);
    padding: 2px 6px;
    cursor: pointer;
    position: relative;
    user-select: none;
    background-color: rgb(37, 111, 196);
}

.SelectLanguage .selectedLanguage {
    font-weight: 700;
    text-transform: capitalize;
}

.SelectLanguage i {
    margin-left: 5px;
}

.SelectLanguage .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(37, 111, 196);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.SelectLanguage .dropdown .selectedLanguage {
    padding: 3px 0;
}

.SelectLanguage .dropdown .selectedLanguage:hover {
    background: white;
    color: rgb(37, 111, 196);
}

.SelectLanguage .dropdown.activeSelectLang {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


@media(max-width: 979px){
    .Header #menu-bar{
        display: initial;
    }
    .Header #menu-bar-color{
        display: initial;
    }
    .Header .left .navbar{
        display: flex;
        gap: .5rem;
        flex-direction: column;    
        position: absolute;
        top: 100%; left: 0; width: 100%;
        font-size: 1rem;
        font-weight: bold;
        border-radius: .5rem;
        transform: scaleY(0);
        transition: .5s linear;      
    }
    .Header .left .navbar.active{
    transform: scaleY(1);
    }

}
