.Tour {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 5rem;
    margin-bottom: 15rem;
}


.Tour .btn{
    border-color: white;
    color: white;
}

.Tour .btn span{
    background-color: white;
}

.Tour .btn:hover{
    color: rgb(30, 57, 89);
}

.tourDetail th{
    padding: .2rem 1rem;
}

.tourDetail{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .1rem;
    padding: 1rem;
    border-radius: .5rem;
    color: white;
    margin-top: 5rem;
}


.tourDetail .Left div{
    padding: .1rem .5rem;
    background-color: rgb(30, 57, 89);
    border: .5px solid white;
}


.tourDetail .Right div{
    border: .5px solid white;
    padding: .1rem .5rem;
    background-color: rgb(30, 57, 89);
}

.tourDetail .Head {
    text-align: center;
    font-weight: bold;
    margin-bottom: 2px;
}
